*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: $background-light-grey;
}

.body-container {
  width: 100%;
  display: table;

  .content-container {
    height: 100%;
    display: table-cell;
    vertical-align: top;
  }
}