@mixin border-radius($top, $right: $top, $bottom: $top, $left: $top) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius:    $top $right $bottom $left;
  -ms-border-radius:     $top $right $bottom $left;
  border-radius:         $top $right $bottom $left;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  transition:         $transition;
}

@mixin transform-transition($transition-time, $method) {
  -webkit-transition: -webkit-transform $transition-time $method;
  -moz-transition:    -moz-transform $transition-time $method;
  -o-transition:      -o-transform $transition-time $method;
  transition:         transform $transition-time $method;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size:    $size;
  -o-background-size:      $size;
  background-size:         $size;
}

@mixin background-cover() {
  @include background-size(cover);
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin translate-x($distance){
  -webkit-transform: translateX($distance);
  -moz-transform:    translateX($distance);
  -o-transform:      translateX($distance);
  -ms-transform:     translateX($distance);
  transform:         translateX($distance);
}

@mixin translate-y($distance) {
  -webkit-transform: translateY($distance);
  -moz-transform:    translateY($distance);
  -o-transform:      translateY($distance);
  -ms-transform:     translateY($distance);
  transform:         translateY($distance);
}

@mixin translate-z($distance) {
  -webkit-transform: translateZ($distance);
  -moz-transform:    translateZ($distance);
  -o-transform:      translateZ($distance);
  -ms-transform:     translateZ($distance);
  transform:         translateZ($distance);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform:    translate3d($x,$y,$z);
  -o-transform:      translate3d($x,$y,$z);
  -ms-transform:     translate3d($x,$y,$z);
  transform:         translate3d($x,$y,$z);
}

@mixin scale($proportion) {
  -webkit-transform: scale($proportion);
  -moz-transform:    scale($proportion);
  -o-transform:      scale($proportion);
  -ms-transform:     scale($proportion);
  transform:         scale($proportion);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}