// colors
$white: #ffffff;
$black: #000000;

$background-light-grey: #f3f7fa;
$sidebar-background-grey: #25282d;
$header-background-grey: #728997;
$header-background-light-grey: #b0c3d2;

$text-grey: #6e7a86;
$text-dark-grey: #4a515b;
$sidebar-title-grey: #37414b;
$sidebar-link-grey: #707a84;
$header-grey: #547086;

$orange: #f69068;
$teal: #68bfb9;
$dark-teal: #4cada6;
$darkest-teal: #247672;

// spacing
$full-space: 40px;
$half-space: 20px;