// colors
$white: #ffffff;
$black: #000000;

$background-light-grey: #f3f7fa;
$sidebar-background-grey: #2e3244;
$sidebar-dark-grey: #272939;
$header-background: #394b78;
$header-background-light: #273659;

$text-grey: #6e7a86;
$text-dark-grey: #59616c;
$sidebar-title-grey: #37414b;
$sidebar-link-grey: #60667e;
$header-grey: #547086;

$primary: #9D9DD4;
$secondary: #2caccf;

$red: #bf616a;

// spacing
$full-space: 40px;
$half-space: 20px;