div.quiz {

  .intro-finish-container {
    display: table;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;

    & > * {
      display: table-cell;
      vertical-align: middle;
      width: 50%;

      &:last-child {
        text-align: right;
      }
    }
  }

  .progress-bar {
    margin: $full-space $full-space $half-space;
    height: 8px;

    background-color: darken($background-light-grey, 10);

    .fill { background-color: $primary; }
  }

  .question-body {
    padding: 0 $full-space;
    margin-top: $full-space;
  }

  ul.multiple-choice {
    list-style: none;
    margin: 0 $full-space $full-space;
    padding: 0;

    @extend %card;
    border: 1px solid darken($background-light-grey, 5);

    li {
      display: table;
      width: 100%;
      padding: $half-space;

      cursor: pointer;

      font-size: 20px;
      color: inherit;
      background-color: transparent;
      @include transition(background-color 0.1s ease-in-out, color 0.1s ease-in-out);

      & > * {
        display: table-cell;
        vertical-align: middle;
      }

      .choice-indicator {
        width: 50px;
        height: 50px;
        @include border-radius(100%);
        border-style: solid;
        border-width: 4px;
        border-color: $text-grey;

        @include transition(border-color 0.1s ease-in-out);

        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
      }

      span {
        padding-left: $half-space;
      }

      &:hover {
        background-color: darken($background-light-grey, 2);

        color: $secondary;

        .choice-indicator {
          border-color: $secondary;
        }
      }

      &.selected {
        background-color: darken($background-light-grey, 2);

        color: $primary;

        .choice-indicator {
          border-color: $primary;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid darken($background-light-grey, 5);
      }
    }
  }

}