div.tokenfield {

  height: auto;
  min-height: 38px;
  padding: $half-space/2;

  border-style: solid;
  border-width: 1px;
  border-color: darken($background-light-grey, 5);
  background-color: $white;
  @include transition(border-color 0.1s ease-in-out);

  &:active, &:focus {
    border-color: $primary;
  }

  .token-input {
    width: 60px;
    min-width: 60px;
    height: 40px;
    padding-left: $half-space/2;

    font-size: 16px;
    background-color: transparent;
    border: none;
  }

  .token {
    display: inline-block;
    white-space: nowrap;
    margin: 7px 5px 5px 0;
    height: 22px;
    vertical-align: top;
    cursor: default;

    background: $primary;
    color: $white;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;

    span.token-label {
      padding-left: 5px;
    }

    a.close {
      margin-left: 5px;
      padding-right: 5px;

      color: $white;
    }
  }

}