.tooltip {

  position: relative;
  display: inline-block;
  padding: $half-space/4 $half-space/4 2px;
  @include border-radius(3px);
  opacity: 1;

  text-align: center;
  font-size: 14px;
  background: $secondary;
  color: $white;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: $secondary;
    border-width: 10px;
    margin-left: -10px;
  }

}

/* React CSS Transition Group styles */
.tooltip-enter {
  opacity: 0.01;
  @include transition(opacity 0.4s ease-in-out);
}

.tooltip-enter-active {
  opacity: 1;
}

.tooltip-leave {
  opacity: 1;
  @include transition(opacity 0.2s ease-in-out);
}

.tooltip-leave-active {
  opacity: 0.01;
}