.button {

  position: relative;
  padding: $half-space/2;
  top: 0;

  text-transform: uppercase;
  font-weight: 600;
  background-color: $teal;
  color: $white;
  @include border-radius(3px);

  @include transition(background-color 0.2s ease-in-out);

  &:hover {
    background-color: lighten($teal, 5);
  }

  &.orange {
    background-color: $orange;

    &:hover {
      background-color: lighten($orange, 5);
    }
  }

  &:active {
    top: 2px;
  }

}