.button, .btn {

  padding: $half-space/2;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  background-color: $teal;
  color: $white;
  border: none;
  @include border-radius(3px);

  @include transition(background-color 0.1s ease-in-out);

  &.inline-block {
    display: inline-block;
  }

  &.block {
    display: block;
  }

  &:hover {
    background-color: $orange;
  }

  &:disabled {
    background-color: darken($background-light-grey, 10);
  }

}