.button {

  padding: $half-space/2;

  text-transform: uppercase;
  font-weight: 600;
  background-color: $teal;
  color: $white;
  @include border-radius(3px);

  @include transition(background-color 0.1s ease-in-out);

  &:hover {
    background-color: $orange;
  }

}