.modal.login-modal {

  .td.login-container {
    border-right: 1px solid darken($background-light-grey, 10);
  }

  .td.register-container {
    background-color: $sidebar-background-grey;
  }

  form {
    input:not([type=submit]) {
      display: block;
      width: 100%;
      padding: $half-space;
      font-size: 16px;
    }
  }

}