div.modal-backdrop {

  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  background: rgba(0, 0, 0, 0.45);

  div.modal {
    z-index: 4;
    position: relative;
    margin: 150px auto 0 auto;
    padding: $half-space;
    width: 600px;

    color: $text-grey;
    background-color: $background-light-grey;
    @include box-shadow(0px 2px 55px rgba(0, 0, 0, 0.3));

    input:not([type=submit]) {
      background-color: $white;
      border: none;
      outline: none;
    }

    input[type=submit]:disabled { background-color: $text-dark-grey; }

    .input-container > label {
      padding-right: $half-space;

      color: $primary;
    }

    .close-button {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;

      background-color: $primary;
      color: $white;
      cursor: pointer;
      @include border-radius(100%);
    }
  }

}