%recipient-list {

  position: relative;
  display: table-cell;
  width: 20%;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: $white;
  border-right: 1px solid darken($background-light-grey, 5);

  li {
    padding: $half-space;

    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border-right-style: solid;
    border-right-color: $teal;
    border-right-width: 0px;
    @include transition(background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-right-width 0.2s ease-in-out);

    &:hover {
      background-color: darken($background-light-grey, 2);
      color: $orange;
    }

    &.active {
      background-color: darken($background-light-grey, 2);
      color: $teal;
      border-right-width: 5px;
    }

    &.title {
      cursor: default;
      color: $header-grey-text;
      background-color: lighten($header-grey, 35);
      border-bottom: none !important; /* override last-child styling */

      h5 {
        text-transform: uppercase;
        font-family: $sans-serif-family;
      }

      &:hover {
        background-color: lighten($header-grey, 35);
        color: $header-grey-text;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid darken($background-light-grey, 5);
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;

    opacity: 0.1;

    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  }

}