nav.sidebar {

  position: relative;
  display: table-cell;
  height: 100%;
  width: 325px;

  background: $sidebar-background-grey;

  .course-info-container {
    visibility: hidden;
    opacity: 0;
    max-height: 0;

    @include transition(visibility 0s linear 0.5s, opacity 0.5s ease-in-out, max-height 0.5s ease-in-out);

    .title-container {
      padding: $full-space;

      background: $teal;
      color: $white;

      .title, .instructor, span {
        opacity: 0;
        @include transition(opacity 0.1s ease-in-out);
      }

      .title, .instructor {
        font-family: $sans-serif-family;
      }

      .title {
        text-transform: uppercase;
      }

      span {
        font-family: $serif-family;
        font-style: italic;
        color: $darkest-teal;
      }
    }

    .progress-container {
      padding: $full-space;

      background: $dark-teal;
    }

    &.open {
      visibility: visible;
      opacity: 1;
      max-height: 1000px;

      transition-delay: 0s;

      .title, .instructor, span {
        opacity: 1;
      }
    }
  }

  .links-container {
    padding: $full-space;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      border-left: 3px solid #1a1d22;

      li {
        margin: 0 0 $half-space (-$half-space/4);

        border-left: 3px solid transparent;

        color: $sidebar-link-grey;
        text-transform: uppercase;

        a {
          display: block;
          padding: $half-space/4 $half-space;

          color: $sidebar-link-grey;
          font-weight: 600;
        }

        &.active {
          a {
            color: $white;
          }

          border-color: $orange;
        }

        &:hover a {
          color: $white;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;

    opacity: 0.2;

    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  }

}